
<html>
    <head>
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Montserrat:wght@700&display=swap" rel="stylesheet">
        <link href="/public/style.css" rel="stylesheet" />
    </head>

    <body>
        <header>
            <div class="center">
                <div class="logo">
                    <h2><span style="font-weight:lighter;">North</span><b>News</b></h2>
                </div><!--logo-->
                <div class="form-busca">
                    <form>
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input name="busca" type="text" placeholder="Busca..." />
                    </form>
                </div><!--formbusca-->
            </div><!--center-->
        </header>
