

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;

}

header{
    padding:8px 0;
    text-align: center;
    background-color: #0aacdc;
}

.center{
    max-width: 1280px;
    margin:0 auto;
    padding:0 2%;
    display: flex;
    flex-wrap: wrap;
}

.logo{
    width:50%;
    text-align: left;
    cursor: pointer;
}

.logo h2{
    color:white;

}

.form-busca{
    width:50%;
    text-align: right;

}

.form-busca form{
    display: inline-block;
    max-width: 200px;
    position: relative;
}

.form-busca i{
    position: absolute;
    left: 10px;
    top:7px;
    color:white;
    font-size: 20px;
}

.form-busca input{
    height:40px;
    width:100%;
    border:0;
    font-size: 20px;
    color:white;
    background-color: #008bb4;
    padding-left: 40px;
    border-radius:10px;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

  section.noticia-destaque{
      padding:40px 0;
  }

  #slug{
    text-decoration: none;
    color: white;
  }
  section.noticia-destaque > .center{
      max-width: 960px;
  }



  .img-destaque{
      width:100%;
      
      position: relative;
  }
  .img-destaque img{
      width:100%;
      border-radius:20px;
      
  }

  .title-destaque-descricao{
      position: absolute;
      bottom:0;
      left:0;
      padding:10px;
      max-width: 600px;
      color:white;
      z-index: 2;
  }

  .title-destaque-descricao h2{
    font-size: 64px;
    margin: 20px 0;


  }

  .title-destaque-descricao p{
    font-weight: lighter;
    font-size: 16
  }

  .overlay-destaque{
      position: absolute;
      left:0;
      top:65px;
      border-radius:20px;
      width:100%;
      height:90%;
      background-color:rgba(0,0,0,0.4);
      z-index: 1;
  }
  .title-slug{
    z-index: 3;
    position: relative;
    top: 460px;
    color: white;
    margin-left: 30px;
  }

  section.outras-noticias{
    background-color: #eaeaea;
    padding: 30px 20px;
    text-align: center;
  }
section.outras-noticias h1{
    font-size: 54px;
}

.ultimas{
    width: 60%;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.box-ultima-single{
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    width: 48%;
    margin-top: 25px;
    margin-right: 2%;
    background-color: white;
    padding-bottom: 20px;
    height: 45%;
    border-radius: 10px;
    
}

.box-ultima-single img{
    width: 100%;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box-ultima-single h3{
    font-size: 16px;
    color:#33439b;
    margin: 20px 0 ;
}

.box-ultima-single h2{
    color: #303336;
    font-size: 20px !important;

}
.box-ultima-single p{
    color: #7b8591;
    font-size: 12px;
    margin:20px 0;
}

.box-ultima-single a{
    display: block;
    width: 181px;
    height: 56px;
    border: 1px solid #ebebeb;
    text-decoration: none;  
    color: #0aacdc;
    border-radius: 10px;
    line-height: 56px;
    text-align: center;
    font-size: 18px;
}
.conteudo-noticia-single{
    padding: 20px;
}

.mais-lidas{
    width: 40%;
    height: 100%;
    margin-top: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: top;
    background-color: white;
}

.mais-lidas > h3{
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 10px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.mais-lida-noticia-single{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding: 20px;
}
.mais-lida-noticia-single img{
    width: 30%;
    height: 45%;
}

.mais-lida-noticia-single .texto-mais-lida-single{
     width: 70%;
     padding: 8px 20px;
}

.texto-mais-lida-single h4{
    color: #40be65;
    letter-spacing: 3.2px;
    
}

.texto-mais-lida-single p{
    color: #7b8591;
    font-size: 16px;
}
.texto-mais-lida-single a{
    display: block;
    width: 121px;
    height: 36px;
    border: 1px solid #ebebeb;
    text-decoration: none;
    color: #0aacdc;
    border-radius: 10px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

footer{
   
    background-color:  #0aacdc;
    text-align: center;
    color: white;
    padding: 8px 0;
}

section.noticia{
padding: 20px 0;
background-color: #eaeaea;
}

.noticia-single{
    width: 58%;
    padding: 20px;
    margin-right: 2%;
    background-color: white;
}

.noticia-single h2{
    color: #303336;
    font-size: 42px;
    margin: 10px 0;
}
.noticia-single span{
    letter-spacing: 3.2px;
    text-transform: uppercase;
    font-size: 15px;
    color: #858585;
}

.noticia-single p{
    color: #7b8591;
    font-size: 15px;
    line-height: 26px;
    margin-top: 15px;
}

.noticia-single h3{
    color: #7b8591;
    font-size: 33px;
    margin: 10px 0;
}
@media screen and (max-width: 768px){
    .noticia-single{
        width: 100%;
        margin-bottom: 20px;
    }
    .logo,.form-busca{
        text-align: center;
        width: 100%;
    }
    .form-busca{
        margin-top: 10px;
        text-align: center;
    }
    .title-destaque-descricao h2{
        font-size: 34px;
        margin:  20px 0;
    }
    .mais-lidas,.ultimas{
        width: 100%;
        margin-bottom: 20px;
    }
    .box-ultima-single{
        margin-bottom: 15px;
        width: 45%;
        margin-right: 25px; 
    }
    .title-slug{
        position: relative;
        color: white;
        top: 260px;
        margin-left: 30px;
        z-index: 3;
      }
      .overlay-destaque{
        position: absolute;
        left:0;
        top:66px;
        border-radius:20px;
        width:100%;
        height:80%;
        background-color:rgba(0,0,0,0.4);
        z-index: 1;
    }
    
    }    